.underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #E63946;
  z-index: -1;
}

h1 {
}

@media (min-width: 300px) and (max-width: 500px) {
  #uberschrift {
    font-size: 24.78px;
  }
}

p {
}

@media (min-width: 300px) and (max-width: 500px) {
  #unterUeberschrift {
    font-size: 19px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  #loginPic {
    height: 193.984px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  #signupPic {
    height: 161.031px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  #forgotPic {
    height: 190px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  #notfoundPic {
    height: 213.188px;
  }
}

@media (min-width: 768px) {
  #notfoundPic {
    height: 265.75px;
  }
}

