:root, [data-bs-theme=light] {
  --bs-primary: #E63946;
  --bs-primary-rgb: 230,57,70;
  --bs-primary-text-emphasis: #5C171C;
  --bs-primary-bg-subtle: #FAD7DA;
  --bs-primary-border-subtle: #F5B0B5;
  --bs-secondary: #1D3557;
  --bs-secondary-rgb: 29,53,87;
  --bs-secondary-text-emphasis: #0C1523;
  --bs-secondary-bg-subtle: #D2D7DD;
  --bs-secondary-border-subtle: #A5AEBC;
  --bs-warning: #457B9D;
  --bs-warning-rgb: 69,123,157;
  --bs-warning-text-emphasis: #1C313F;
  --bs-warning-bg-subtle: #DAE5EB;
  --bs-warning-border-subtle: #B5CAD8;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #E63946;
  --bs-btn-border-color: #E63946;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EA5762;
  --bs-btn-hover-border-color: #E94D59;
  --bs-btn-focus-shadow-rgb: 35,9,11;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EB616B;
  --bs-btn-active-border-color: #E94D59;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #E63946;
  --bs-btn-disabled-border-color: #E63946;
}

.btn-outline-primary {
  --bs-btn-color: #E63946;
  --bs-btn-border-color: #E63946;
  --bs-btn-focus-shadow-rgb: 230,57,70;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E63946;
  --bs-btn-hover-border-color: #E63946;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E63946;
  --bs-btn-active-border-color: #E63946;
  --bs-btn-disabled-color: #E63946;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E63946;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1D3557;
  --bs-btn-border-color: #1D3557;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #192D4A;
  --bs-btn-hover-border-color: #172A46;
  --bs-btn-focus-shadow-rgb: 221,225,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #172A46;
  --bs-btn-active-border-color: #162841;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1D3557;
  --bs-btn-disabled-border-color: #1D3557;
}

.btn-outline-secondary {
  --bs-btn-color: #1D3557;
  --bs-btn-border-color: #1D3557;
  --bs-btn-focus-shadow-rgb: 29,53,87;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1D3557;
  --bs-btn-hover-border-color: #1D3557;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1D3557;
  --bs-btn-active-border-color: #1D3557;
  --bs-btn-disabled-color: #1D3557;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1D3557;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #457B9D;
  --bs-btn-border-color: #457B9D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3B6985;
  --bs-btn-hover-border-color: #37627E;
  --bs-btn-focus-shadow-rgb: 227,235,240;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #37627E;
  --bs-btn-active-border-color: #345C76;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #457B9D;
  --bs-btn-disabled-border-color: #457B9D;
}

.btn-outline-warning {
  --bs-btn-color: #457B9D;
  --bs-btn-border-color: #457B9D;
  --bs-btn-focus-shadow-rgb: 69,123,157;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #457B9D;
  --bs-btn-hover-border-color: #457B9D;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #457B9D;
  --bs-btn-active-border-color: #457B9D;
  --bs-btn-disabled-color: #457B9D;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #457B9D;
}

