
    <section class="py-5 mt-5">
        <div class="container">
            <div class="row row-cols-1 d-flex justify-content-center align-items-center">
                <div class="col-md-10 text-center"><img class="img-fluid w-100 py-3" id="notfoundPic" src="assets/img/illustrations/undraw_warning_re_eoyh.svg"></div>
                <div class="col text-center">
                    <h2 class="display-3 fw-bold mb-4">Seite nicht gefunden</h2>
                    <p class="fs-4 text-muted">Die Seite nach der du gesucht hast, wurde nicht gefunden</p>
                </div>
            </div>
        </div>
    </section>
    