{% extends "base.html" %}
{% load static i18n %}
{% load custom_filters %}
{% block content %}

{% if error_message %}
  <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<section class="py-3 mt-5">
    <div class="container py-4 py-xl-5">
        <div class="row mb-3">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-3">{% trans "Deine Einkaufsliste" %}</h2>
            </div>
        </div>

        {% comment %} <div class="row mb-4">
            <div class="col-md-8 mx-auto">
                <label for="listName" class="fw-bold">{% trans "Name der Einkaufsliste" %}</label>
                <input type="text" id="listName" name="list_name" class="form-control" value="{{ shopping_list_name }}" placeholder="Z. B. Wochenendeinkauf">
            </div>
        </div> {% endcomment %}

        <div class="row mb-4">
            <div class="col-md-8 mx-auto">
                <form method="post" class="d-flex">
                    {% csrf_token %}
                    <input type="text" name="item_name" placeholder="{% trans 'Name' %}" class="form-control me-2" required 
                           style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                    
                    <input type="number" name="quantity" class="form-control me-2" required 
                           style="max-width: 80px; color: #000;" value="1" inputmode="numeric" min="1" step="1">
                    
                    <button type="submit" class="btn btn-primary" 
                            style="color: white; border-radius: 8px; font-size: 28px; padding: 5px 15px; line-height: 1; display: flex; justify-content: center; align-items: center;">
                        +
                    </button>
                </form>
            </div>
        </div>
        
        <!-- Random Link Section -->
        <div class="row mb-4">
            <div class="col-md-8 mx-auto d-flex">
                <input type="text" id="shoppingListLink" class="form-control me-2 custom-link-input" value="adlegio.de/l/{{ short_link }}" readonly>
                <button class="btn btn-secondary custom-copy-btn" onclick="copyToClipboard()">
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>
        </div>

        <!-- Buttons oben für "Ausgewählte löschen" und "Alle löschen" -->
        <div class="button-container">
            {% if items|length > 0 %}
            <form id="deleteAllForm" method="POST" action="{% url 'delete_all_items' %}">
                {% csrf_token %}
                <input type="hidden" name="short_link" value="{{ short_link }}">
                <button type="submit" class="btn btn-danger" id="deleteAllButton">
                    {% trans "Alle löschen" %}
                </button>
            </form>
                
            {% endif %}
            <form id="deleteSelectedForm" method="POST" action="{% url 'delete_selected_items' %}">
                {% csrf_token %}
                <input type="hidden" name="item_ids" id="selectedItemsInput">
                <button type="submit" class="btn btn-danger" id="deleteSelectedButton" style="display: none;">
                    {% trans "Ausgewählte löschen" %}
                </button>
            </form>
        </div>      

        <section class="py-3">
            <div class="containerSpecial">
                <div class="accordion" id="shoppingListAccordion">
                    {% for category, items_in_category in items|group_by_category %}
                    <div class="accordion-item">
                        <h2 class="accordion-header d-flex align-items-center">
                            <!-- Kategorie Checkbox -->
                            <div class="checkbox-wrapper-19">
                                <input type="checkbox" id="cbtest-{{ category }}" onclick="toggleCategorySelection('{{ category }}')"/>
                                <label for="cbtest-{{ category }}" class="check-box"></label>
                            </div>                            
                            <button class="accordion-button">
                                {{ category }}
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse show">
                            <ul class="list-group">
                                {% for item in items_in_category %}
                                <li class="list-group-item">
                                    <div class="checkbox-wrapper-small">
                                        <input type="checkbox" id="cbitem-{{ item.id }}" data-id="{{ item.id }}" data-category="{{ category }}" class="select-checkbox" onchange="toggleDeleteSelectedButton()"/>
                                        <label for="cbitem-{{ item.id }}" class="check-box-small"></label>
                                    </div>
                                    <div class="item-info">
                                        <span class="item-quantity">{{ item.quantity }}</span>
                                        <span class="item-name">{{ item.name }}</span>
                                    </div>
                                    <div class="btn-container">
                                        <button class="btn btn-danger btn-sm" onclick="deleteItem({{ item.id }})">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>                                                                                
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</section>
        

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4" style="border-radius: 8px;">
        <div class="modal-body text-center">
          <p class="fs-5 mb-4" id="deleteModalLabel">{% trans "Wirklich löschen?" %}</p>
          <button type="button" class="btn btn-secondary me-2" style="border-radius: 8px;" data-bs-dismiss="modal">{% trans "Abbrechen" %}</button>
          <button type="button" class="btn btn-danger" style="border-radius: 8px;" id="confirmDeleteButton">{% trans "Löschen" %}</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal für die Bestätigung des Löschens -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4" style="border-radius: 8px;">
            <div class="modal-body text-center">
                <p class="fs-5 mb-4" id="deleteModalLabel">{% trans "Möchten Sie wirklich alle Artikel löschen?" %}</p>
                <button type="button" class="btn btn-secondary me-2" style="border-radius: 8px;" data-bs-dismiss="modal">{% trans "Abbrechen" %}</button>
                <button type="button" class="btn btn-danger" style="border-radius: 8px;" id="confirmDeleteAllButton">{% trans "Löschen" %}</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal für "Link kopiert" -->
<div class="modal fade" id="linkCopiedModal" tabindex="-1" aria-labelledby="linkCopiedLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered small-modal">
        <div class="modal-content" style="border-radius: 8px; padding: 20px; text-align: center;">
            <div class="modal-body">
                <i class="bi bi-check-circle-fill" style="color: green; font-size: 2rem;"></i>
                <p style="font-size: 1.2rem; margin-top: 10px;">Link kopiert!</p>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript einbinden -->
<script src="{% static 'js/einkaufsliste.js' %}"></script>
<script>
    const short_link = "{{ short_link }}";  // Prüfe hier, ob der richtige Wert erscheint
    console.log("short_link: ", short_link);  
    document.addEventListener('DOMContentLoaded', function () {
        // Event Listener für den "Alle löschen" Button
        document.getElementById('deleteAllButton').addEventListener('click', function (event) {
            event.preventDefault(); // Verhindert das Standardverhalten des Buttons (direktes Absenden)
    
            console.log("Delete All Button clicked"); // Debugging-Ausgabe
    
            // Zeige das Modal zur Bestätigung an
            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            deleteModal.show();
    
            // Event Listener für den Bestätigungsbutton im Modal
            document.getElementById('confirmDeleteAllButton').addEventListener('click', function () {
                console.log("Confirm Delete All Button clicked"); // Debugging-Ausgabe
                
                // Sende das Formular nach der Bestätigung
                document.getElementById('deleteAllForm').submit();
            }, { once: true }); // Wichtig: { once: true } stellt sicher, dass der Event Listener nur einmal aufgerufen wird
        });
    });
    
</script>


{% endblock content %}
