{% extends "base.html" %}
{% load static i18n %}
{% load custom_filters %}
{% block content %}

<section class="py-3 mt-5">
    <div class="container py-4 py-xl-5">
        <div class="row mb-3">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-3">{% trans "Deine Einkaufsliste" %}</h2>
            </div>
        </div>

        {% comment %} <div class="row mb-4">
            <div class="col-md-8 mx-auto">
                <label for="listName" class="fw-bold">{% trans "Name der Einkaufsliste" %}</label>
                <input type="text" id="listName" name="list_name" class="form-control" value="{{ shopping_list_name }}" placeholder="Z. B. Wochenendeinkauf">
            </div>
        </div> {% endcomment %}

        <div class="row mb-4">
            <div class="col-md-8 mx-auto">
                <form method="post" class="d-flex">
                    {% csrf_token %}
                    <input type="text" name="item_name" placeholder="{% trans 'Name' %}" class="form-control me-2" required>
                    <input type="number" name="quantity" placeholder="{% trans 'Menge' %}" class="form-control me-2" required>
                    <button type="submit" class="btn btn-primary" style="color: white; border-radius: 8px;">{% trans "Hinzufügen" %}</button>
                </form>
            </div>
        </div>

        <!-- Random Link Section -->
        <div class="row mb-4">
            <div class="col-md-8 mx-auto d-flex">
                <!-- Display the shorter link in the input with background and rounded corners -->
                <input type="text" id="shoppingListLink" class="form-control me-2 custom-link-input" value="adlegio.de/l/{{ short_link }}" readonly>
                <button class="btn btn-secondary custom-copy-btn" onclick="copyToClipboard()">
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>
        </div>

            <!-- Kategorien Accordion -->
            <div class="row mb-4">
                <div class="col-md-8 mx-auto">
                    <div class="accordion text-muted" id="shoppingListAccordion">
                        {% if items %}
                            <!-- Iterate through categories and items -->
                            {% for category, items_in_category in items|group_by_category %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" style="color: black;">
                                        <button class="accordion-button" type="button" style="color: black;">
                                            {{ category }}
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse show">
                                        <ul class="list-group">
                                            {% for item in items_in_category %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <input type="checkbox" class="item-checkbox" data-id="{{ item.id }}" {% if item.checked %}checked{% endif %}>
                                                <span class="item-quantity">{{ item.quantity }}</span>
                                                <input type="text" class="item-name" value="{{ item.name }}" readonly>
                                                <button class="btn btn-danger btn-sm" onclick="deleteItem({{ item.id }})">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </li>
                                            {% endfor %}
                                        </ul>                                        
                                    </div>                                      
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Keine Artikel in der Einkaufsliste." %}</p>
                        {% endif %}
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4" style="border-radius: 8px;">
        <div class="modal-body text-center">
          <p class="fs-5 mb-4" id="deleteModalLabel">{% trans "Wirklich löschen?" %}</p>
          <button type="button" class="btn btn-secondary me-2" style="border-radius: 8px;" data-bs-dismiss="modal">{% trans "Abbrechen" %}</button>
          <button type="button" class="btn btn-danger" style="border-radius: 8px;" id="confirmDeleteButton">{% trans "Löschen" %}</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal für "Link kopiert" -->
<div class="modal fade" id="linkCopiedModal" tabindex="-1" aria-labelledby="linkCopiedLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered small-modal">
        <div class="modal-content" style="border-radius: 8px; padding: 20px; text-align: center;">
            <div class="modal-body">
                <i class="bi bi-check-circle-fill" style="color: green; font-size: 2rem;"></i>
                <p style="font-size: 1.2rem; margin-top: 10px;">Link kopiert!</p>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript einbinden -->
<script src="{% static 'js/einkaufsliste.js' %}"></script>

{% endblock content %}
